.body{
  background-color: black
}
.label_container{
  color: white;
}
.input_container {
  /* position: relative; */
  width: 300px;
  height: 50px;
  border: 2px solid #01e759;
  border-radius: 15px;
  margin-bottom: 10px;
  font-family: "Press Start 2P", cursive;
}

.form { 
  max-width:500px; 
  margin:50px auto; 
}

.form_body{
  position: absolute;
  top: 20%;
    left: 20%;
    right: 20%;
  border: 2px solid #01e759;
  border-radius: 20px;
  width:50%;
  margin:50px auto;
  background-color: black;
}

.btn {
  margin-top: 20px;
  width: 50%;
  height: 20%;
  background: #01e759;
  font-size: 25px;
  color: #fff;
  border: #fff;
  font-family: "Press Start 2P", cursive;
  border-radius: 50px;
  padding: 10px
}

.login{
  font-family: "Press Start 2P", cursive;
  color: #01e759;
}
